---
http_interactions:
- request:
    method: get
    uri: https://samples.jnito.com/access-log.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"8351d9f8b5b70adbd920c6e3b413ea91d20a28b5ecafbc4b06f91a4d656d6b7f"'
      Last-Modified:
      - Wed, 10 Nov 2021 11:31:47 GMT
    body:
      encoding: ASCII-8BIT
      string: |
        [
          {
            "request_id": "1",
            "path": "/products/1",
            "status": 200,
            "duration": 651.7
          },
          {
            "request_id": "2",
            "path": "/wp-login.php",
            "status": 404,
            "duration": 48.1,
            "error": "Not found"
          },
          {
            "request_id": "3",
            "path": "/products",
            "status": 200,
            "duration": 1023.8
          },
          {
            "request_id": "4",
            "path": "/dangerous",
            "status": 500,
            "duration": 43.6,
            "error": "Internal server error"
          }
        ]
  recorded_at: Wed, 10 Aug 2022 23:33:09 GMT
recorded_with: VCR 6.1.0
